Backend/API/.env
Backend/.vs
Backend/obj
Backend/ProjectEvaluation
Backend/API/bin
Backend/API/obj
Backend/Domain/bin
Backend/Domain/obj
Backend/Infrastructure/bin
Backend/Infrastructure/obj
Backend/Aplication/bin
Backend/Aplication/obj
